<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/districs.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Ubuntu:wght@500&display=swap"
          rel="stylesheet">

    <title>CourseWork: Yekaterinburg</title>
</head>
<body>

<header>
    <div class="nav_logo">
        CourseWork: Yekaterinburg: Districs
    </div>
    <div class="nav_links">
        <a class="nav_link" href="index.html"> На главную </a>
        <a class="nav_link" href="about_project.html"> О проекте </a>
    </div>
</header>

<section>

    <div class="img_container">
        <img src="../static/img/about_pages/districs_page/dist_map.png"
             alt="Что-то сломалось...">
    </div>

    <div class="pop_up_container" id="pop_up">
        <div class="pop_up_window">

            <div class="pop_up_content">
                content
            </div>

            <div class="close_pop" id="close_pop">
                &#10006
            </div>

        </div>

    </div>

    <button class="org_button" id="open_pop">

    </button>

    <button class="zd_button">

    </button>

    <button class="vi_button">

    </button>

    <button class="len_button">

    </button>

    <button class="chk_button">

    </button>

    <button class="oct_button">

    </button>

    <button class="kir_button">

    </button>

</section>

<footer>
    <div class="footer_contacts">
        <p class="footer_head_text"> contacts: </p>
        <p class="footer_text"> mail:&nbsp; <span class="footer_link"> mrdesper.mi@gmail.com </span> </p>
        <p class="footer_text"> telegram:&nbsp; <span class="footer_link"> @sayfdor </span> </p>
    </div>
</footer>

<script src="../../buttons.js"></script>

</body>
</html>