<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/incident_page_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400;500&display=swap" rel="stylesheet">

    <title>CourseWork: Yekaterinburg</title>
</head>
<body>

<header>
    <div class="nav_logo">
        CourseWork: Yekaterinburg: Incidents: Explosion on Sortirovka
    </div>
    <div class="nav_links">
        <a class="nav_link" href="index.html"> На главную </a>
        <a class="nav_link" href="about_project.html"> О проекте </a>
    </div>
</header>

<section class="title_section">

    <div class="title_section_title">
        <div class="title_section_suptitle">
            Взрыв <br> на <br> Сортировке
        </div>

        <div class="title_section_subtitle">
            Свердловск
        </div>
    </div>
    
    <img class="title_section_bg"
         src="../static/img/about_pages/inc_sort/inc_sort_title_bg.png"
         alt="Что-то сломалось...">

</section>

<section class="second_section">
    <div class="subsection">
        <div class="main_text_white">
            В 4:32 4 октября 1988 года в районе Сортировка города Свердловск прогремел взрыв небывалой силы.
            Люди, проснувшиеся от взрыва, от влетающих в квартиры стекол окон, от криков, подумали о худшем: началась война.
        </div>

        <div class="main_text_white">
            Как вспоминает Владимир Матюшенко, старший следователь следственного отдела управления транспортной милиции:
            <br><br>
            <i>«Я был дома, когда прогремел взрыв, меня подбросило на кровати и засыпало осколками стекла.
                Первое, что подумал, - ядерная война. Забрался под стол и протянул руку к телефону. Гудок есть, значит,
                не ядерный взрыв, пронесло. Посмотрел в окно: еще виднелась вспышка, а
                тополя рядом с домом наклонило на 45 градусов»</i>
        </div>
    </div>
    
    <img class="second_section_img"
         alt="Что-то сломалось"
         src="../static/img/about_pages/inc_sort/inc_sort_second_section.png">
</section>

<section class="third_section">

    <div class="subsection">
        <div class="main_text_black">
            Правительство города, армия, скорая и участвующие в разборе завалов люди сразу же бросились к месту взрыва
            - станции Свердловск-Сортировочный. Перед ними находилась ужасающих масштабов воронка.
            Она достигала размеров 40 на 60 метров и почти 10 метров глубины. От ближайших строений на станции
            остались лишь остовы, а дома в радиусе 15 километров серьезно пострадали от взрыва.
        </div>
        <div class="main_text_black">
            Из воспоминаний очевидца и участника в восстановлении района после взрыва Алексея:
            <br>
            <br>
            <i>«Служил тогда в армии, в Первоуральске. Там стоял полк гражданской обороны. Сразу по тревоге всех туда
                перебросили. Оцепили. Выселяли людей. Ловили мародеров. Сразу начали новые стройки.
                Работал на башенном кране. Построил пятиэтажный дом на улице Технической»</i>
        </div>
    </div>

    <img class="third_section_bg"
         alt="что-то сломалось"
         src=../static/img/about_pages/inc_sort/inc_sort_third_section_img.png>
</section>

<section class="fifth_section">
    <div class="subsection">
        <div class="main_text_white">
            Оказалось, что тот самый поезд, перевозивший взрывчатку,
            прибыл на станцию Свердловск-Сортировочный 4 октября 1988 года в 03:45.
            В его вагонах было 46,8 тонны тротила и 40 тонн гексогена.
            Состав должен был подцепить тепловоз, который остановился в 40 метрах и ждал команды диспетчера,
            но ее не последовало.
            <br><br>
            Тогда вагоны со взрывчаткой покатились под уклон как раз в момент,
            когда на станцию прибыл транзитный поезд, который вез коксующийся уголь.
            Машинист тщетно пытался остановить состав — два поезда столкнулись и загорелись.
            <br><br>
            Оказалось, что, падая, вагоны повалили опоры линии электропередач.
            Оборвавшийся контактный провод упал на взрывоопасный груз.
            Автомат отключил напряжение, но через 2 минуты 15 секунд дежурная произвела пробный пуск электричества.
            В 04:35 раздался мощный взрыв.
            <br><br>
            В результате взрыва погибло <b>6</b> человек, более <b>500</b> получили ранения.
        </div>
    </div>
    <img class="fifth_section_img"
         src="../static/img/about_pages/inc_sort/inc_sort_fifth_section.png">
</section>

<footer>
    <div class="footer_contacts">
        <p class="footer_head_text"> contacts: </p>
        <p class="footer_text"> mail:&nbsp; <span class="footer_link"> mrdesper.mi@gmail.com </span> </p>
        <p class="footer_text"> telegram:&nbsp; <span class="footer_link"> @sayfdor </span> </p>
    </div>
</footer>

</body>
</html>