<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/incident_page_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400;500&display=swap" rel="stylesheet">

    <title>CourseWork: Yekaterinburg</title>
</head>
<body>

<header>
    <div class="nav_logo">
        CourseWork: Yekaterinburg: Incidents: Execution of the Royal Family
    </div>
    <div class="nav_links">
        <a class="nav_link" href="index.html"> На главную </a>
        <a class="nav_link" href="about_project.html"> О проекте </a>
    </div>
</header>

<section class="title_section">

    <div class="title_section_title">
        <div class="title_section_suptitle">
            Расстрел <br> царской <br> семьи
        </div>

        <div class="title_section_subtitle">
            Екатеринбург
        </div>
    </div>

    <img class="title_section_bg"
         src="../static/img/about_pages/inc_family/inc_family_title_img.png"
         alt="Что-то сломалось...">

</section>

<section class="second_section">
    <div class="subsection">
        <div class="main_text_white">
            2 марта 1917 года император Николай II отрекся от престола в пользу своего младшего брата Михаила Александровича.
            Это событие стало одним из важнейших в Революции 1917 года. Спустя несколько дней, 8-9 марта, отрекшийся
            император находился под стражей в Царском Селе. После июльских событий 1917 года в Петрограде Временное
            правительство решило сослать царя и семью в Тобольск.
        </div>
        <div class="main_text_white">
            В апреле 1918 года Николая II и его семью переслали из Тобольска в Екатеринбург. Существовало много версий,
            зачем Большевики решили переместить Царскую семью в Екатеринбург. Историк А. Н. Боханов писал:
            <br><br>
            <i>«Существует множество гипотез, почему Николая II и его семью перевезли из Тобольска в Екатеринбург,
                собирался ли он бежать, утверждают разное, однако со всей определённостью сегодня можно констатировать
                лишь тот факт, что переезд в Екатеринбург вытекал из стремления большевиков ужесточить режим и подготовить
                ликвидацию царя и его семьи»</i>
        </div>
    </div>

    <img class="second_section_img"
         src="../static/img/about_pages/inc_family/inc_family_second_section.png">
</section>

<section class="third_section">
    <div class="subsection">
        <div class="main_text_black">
            Семью Романовых разместили в «доме особого назначения» - реквизированном особняке военного
            инженера в отставке Н. Н. Ипатьева. Именно в этом доме семья провела свои последние 78 дней.
        </div>
        <div class="main_text_black">
            В 1:30 ночи с 16 на 17 июля к дому прибыли грузовики для перевозки трупов. Юровский, комендант дома, перевел
            семью Николая II в подвальное помещение. Позжнее Юровский ввел в подвал расстрельную команду и зачитал приговор.
            Николай II успел сказать лишь «Что?» и раздались хаотичные выстрелы.
        </div>
        <div class="main_text_black">
            В итоге расстрела погибло 7 членов семьи: Николай, Александра, Ольга, Мария, Анастасия и Алексей, а также
            4 слуг: Евгений Боткин, Иван Харитонов, Алексей Трупп и Анна Демидова.
        </div>
    </div>
    
    <img class="third_section_bg"
         alt="Что-то сломалось..."
         src="../static/img/about_pages/inc_family/inc_family_third_section.png">
</section>

<section class="fourth_section">
    <div class="subsection">
        <div class="main_text_white">
            Утром 17 июля 1918 года тела расстрелянных привезли на Ганину Яму. После изъятия ценностей и сжигания одежды
            трупы были сброшены в шахту.
        </div>
        <div class="main_text_white">
            Тела царской семьи нашли лишь в 1991 году, 17 июля 1998 года, в 80-ю годовщину
            расстрела, останки членов императорской семьи были захоронены в Петропавловском соборе Санкт-Петербурга. Тела
            Алексея и Марии нашли только в 2007 году на Старой коптяковской дороге.
        </div>
        <div class="main_text_white">
            На месте захоронения 1 октября 2000 года был заложен первый камень монастыря, сейчас на территории Ганиной Ямы
            действует комплекс из 7 храмов - по количеству убитых членов семьи.
        </div>
        <div class="main_text_white">
            Там же находится и шахта номер 7, где были найдены улики ужасного преступления, где были найдены тела.
        </div>
    </div>
</section>

<footer>
    <div class="footer_contacts">
        <p class="footer_head_text"> contacts: </p>
        <p class="footer_text"> mail:&nbsp; <span class="footer_link"> mrdesper.mi@gmail.com </span> </p>
        <p class="footer_text"> telegram:&nbsp; <span class="footer_link"> @sayfdor </span> </p>
    </div>
</footer>

</body>
</html>