<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/incident_page_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400;500&display=swap" rel="stylesheet">

    <title>CourseWork: Yekaterinburg</title>
</head>

<body>

<header>
    <div class="nav_logo">
        CourseWork: Yekaterinburg: Incidents: Anthrax
    </div>
    <div class="nav_links">
        <a class="nav_link" href="index.html"> На главную </a>
        <a class="nav_link" href="about_project.html"> О проекте </a>
    </div>
</header>

<section class="title_section">

   <div class="title_section_title">
       <div class="title_section_suptitle">
           Эпидемия <br> Сибирской <br> язвы
       </div>

       <div class="title_section_subtitle">
           Свердловск—19
       </div>
   </div>

    <img class="title_section_bg"
         src="../static/img/about_pages/inc_antrax/inc_antrax_title_bg.png"
         alt="Что-то сломалось...">

</section>

<section class="second_section">

    <div class="subsection">
        <div class="main_text_white">
            В апреле <b> 1979 </b> года в городе <b> Свердловск </b>, нынешнем Екатеринбурге, произошла вспышка заболеваний сибирской язвой.
            Существовало много версий, почему так случилось, начиная от скота-переносчика заболевания до вмешательства запада,
            но правда качественно скрывалась Советским союзом.
        </div>

        <div class="main_text_white">
            Согласно официальной информации, эпидемия была вызвана мясом <b>зараженного скота</b>. Были опубликованы данные о 27
            случаях заражения скота в 26 населенных пунктах вдоль трассы Свердловск-Челябинск. Государство рекомендовало
            жителям не есть местное мясо и по возможности не ходить на рынки.
        </div>
    </div>

    <img class="second_section_img"
         src="../static/img/about_pages/inc_antrax/inc_antrax_second_section_img.png"
         alt="Что-то сломалось...">

</section>

<section class="third_section">

    <div class="subsection">
        <div class="main_text_black">
            Утром <b>4 апреля</b> в районах <b> Вторчермет </b>, <b>Керамик</b> и <b> Химмаш </b>, лежаших на юге Свердловска,
            началась череда странных событий: жители данных районов начали массово терять сознание,
            температура тела людей повышалась, появлялись рвота и кашель. Звонки в скорую с юга города поступали
            практически не прекращаясь.
        </div>

        <div class="main_text_black">
            Больных подбирали прямо на <b> улице </b>. Места в больнице <b>№24</b> очень быстро закончились, было принято решение отправлять
            следующих пациентов в больницу <b>№20</b>.
        </div>
    </div>

    <img class="third_section_bg"
         src="../static/img/about_pages/inc_antrax/inc_antrax_third_section_img.png"
         alt="Что-то сломалось...">

</section>

<section class="fourth_section">

    <div class="subsection">
        <div class="subtitle_text_white">
            Из медицинских сводок.
        </div>

        <div class="main_text_white">
            Молодой человек, с утра неважно себя чувствовавший, отправился, тем не менее, устраиваться на работу.
            По дороге, в трамвае, стало плохо. Спасти <b>не смогли</b>. Не успели.
        </div>

        <div class="main_text_white">
            Слегка приболевший мужчина сдавал анализы в поликлинике.
            В кабинете врача стало плохо. Спасти <b>не смогли</b>. Не успели.
        </div>

        <div class="main_text_white">
            Супружеская пара собиралась отправиться куда-то на машине. Муж пошел в гараж.
            Здесь, у раскрытой двери, уже <b>мертвого</b>, его обнаружила жена. Спасать было <b>некого</b>.
        </div>
    </div>

    <div class="subsection">
        <div class="subtitle_text_white">
            Из воспоминаний главврача больницы №24.
        </div>

        <div class="main_text_white">
            — Слушай, Ильенко, у нас тут двое «твоих» умерли…
            <br><br>
            — Как? А диагноз?
            <br><br>
            — Похоже на пневмонию…
            <br><br>
            Через некоторое время — снова звонок.
            <br><br>
            — Маргарита Ивановна, я в панике: еще трое скончались!
            <br><br>
            — Да от чего?
            <br><br>
            — Токсическая пневмония…
        </div>

        <div class="main_text_white">
            И тогда меня вдруг осенило: господи, да это же какая-то <b>инфекция</b>.
        </div>
    </div>

</section>

<section class="fifth_section">
    <div class="subsection">
        <div class="main_text_black">
            10 апреля проводят первое вскрытие трупа и ставят официальный диагноз:
            <br>
            <b>«КОЖНАЯ ФОРМА СИБИРСКОЙ ЯЗВЫ»</b>
        </div>

        <div class="main_text_black">
            Расследование показало, что выброс сибирской язвы произошел из засекреченного городка <b>Свердловск—19</b>,
            где в то время в полной секретности шла разработка <b>биологического оружия</b>, запрещённого международной
            конвенцией, к которой за 7 лет до происшествия присоединился и СССР.
            <br><br>
            <b> 30 марта </b> 1979 года один из сотрудников снял загрязненный фильтр с системы вентиляции, но <b>не внес</b> это в журнал,
            потому работник, пришедший после него, не установил на место новый фильтр. Только спустя какое-то
            время было обнаружено отсутсвие фильтра. В это время вырвавшееся
            облако биологического оружия уже направлялось на военный городок 32 и ближайшие районы города.
            <br><br>
            Канатжан Алибеков назвал имя виновника — <b>Николай Чернышев</b>. Он <b>не понёс</b> никакого
            наказания за свою халатность и её трагические последствия.
        </div>
    </div>

    <img class="fifth_section_bg"
         src="../static/img/about_pages/inc_antrax/inc_antrax_fifth_section_img.png"
         alt="Что-то сломалось...">

</section>

<section class="sixth_section">
    <div class="subsection">
        <div class="main_text_white">
            В итоге, из-за халатного отношения одного человека, погибло около 100 человек, точное количество
            жертв остается неизвестным даже сейчас. <br>
            Среди погибших военнослужащие 32 военного городка, рабочие Керамического завода, простые жители
            близлежищих районов.
        </div>
        <div class="main_text_white">
            В <b>1992 году</b> первый президент Российской Федерации снова поднимет тему эпидемии Сибирской язвы
            1979 года. <b>Борис Ельцин</b> приравняет эту аварию к Чернобыльской и признал ответстственность государства
            за гибель невинных людей.
        </div>
        <div class="main_text_white">
            4 апреля 1992 года, спустя 13 лет, Ельцин подпишет закон «Об улучшении пенсионного обеспечения семей
            граждан, умерших вследствие заболевания сибирской язвой в городе Свердловске в 1979 году», однако это так
            останется <b>лишь на бумаге</b>.
        </div>
    </div>
    
    <img class="sixth_section_img" src="../static/img/about_pages/inc_antrax/inc_antrax_sixth_section_img.png">
</section>

<footer>
    <div class="footer_contacts">
        <p class="footer_head_text"> contacts: </p>
        <p class="footer_text"> mail:&nbsp; <span class="footer_link"> mrdesper.mi@gmail.com </span> </p>
        <p class="footer_text"> telegram:&nbsp; <span class="footer_link"> @sayfdor </span> </p>
    </div>
</footer>

</body>

</html>