<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/incidents_page_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <title>CourseWork: Yekaterinburg</title>
</head>
<body>

<header>
    <div class="nav_logo">
        CourseWork: Yekaterinburg: Incidents
    </div>
    <div class="nav_links">
        <a class="nav_link" href="index.html"> На главную </a>
        <a class="nav_link" href="about_project.html"> О проекте </a>
    </div>
</header>

<section>

    <div class="about_img">
        <div class="about_title">
            Громкие инциденты
        </div>
    </div>

    <div class="grid">

        <a class="title_container_cell" href="incidents_anthrax.html">
            <div class="title_container_text"> Эпидемия Сибирской язвы </div>

            <img class="title_container_bg"
                 src="../static/img/about_pages/incidents_page/inc_block_sibir_bg.png"
                 alt="Что-то сломалось...">

            <img class="title_container_img"
                 alt="Что-то сломалось"
                 src="../static/img/about_pages/incidents_page/inc_block_sibir.png">
        </a>

        <a class="title_container_cell" href="incidents_sort.html">
            <div class="title_container_text"> Взрыв на Сортировке </div>

            <img class="title_container_bg"
                 src="../static/img/about_pages/incidents_page/inc_block_sort_bg.png"
                 alt="Что-то сломалось...">

            <img class="title_container_img"
                 alt="Что-то сломалось"
                 src="../static/img/about_pages/incidents_page/inc_block_sort.png">
        </a>

        <a class="title_container_cell" href="incidents_family.html">
            <div class="title_container_text"> Расстрел царской семьи </div>

            <img class="title_container_bg"
                 src="../static/img/about_pages/incidents_page/inc_block_family_bg.png"
                 alt="Что-то сломалось...">

            <img class="title_container_img"
                 alt="Что-то сломалось"
                 src="../static/img/about_pages/incidents_page/inc_block_family.png">
        </a>

    </div>

</section>

<footer>
    <div class="footer_contacts">
        <p class="footer_head_text"> contacts: </p>
        <p class="footer_text"> mail:&nbsp; <span class="footer_link"> mrdesper.mi@gmail.com </span> </p>
        <p class="footer_text"> telegram:&nbsp; <span class="footer_link"> @sayfdor </span> </p>
    </div>
</footer>

</body>
</html>