<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/places_page_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <title>CourseWork: Yekaterinburg</title>
</head>

<body>

<header>

    <div class="nav_logo">
        CourseWork: Yekaterinburg: Places
    </div>
    <div class="nav_links">
        <a class="nav_link" href="index.html#bottom"> На главную </a>
        <a class="nav_link" href="about_project.html"> О проекте </a>
    </div>

</header>

<div class="container">

    <div class="about_img">
        <div class="about_title">
            Достопримечательности
        </div>
    </div>

    <div class="about_navigation">
        <a id="top"></a>
        <div class="grid">

            <a class="title_container_cell" href="#keyboard">
                <div class="title_container_text"> Памятник "клаве" </div>
                <img class="title_container_img"
                     alt="Что-то сломалось"
                     src="../static/img/about_pages/places_page/places_block1.jpg">
            </a>

            <a class="title_container_cell" href="#church">
                <div class="title_container_text"> Храм <br> на крови </div>
                <img class="title_container_img"
                     alt="Что-то сломалось"
                     src="../static/img/about_pages/places_page/places_block2.jpg">
            </a>

            <a class="title_container_cell" href="#zoo">
                <div class="title_container_text"> Зоопарк </div>
                <img class="title_container_img"
                     alt="Что-то сломалось"
                     src="../static/img/about_pages/places_page/places_block3.jpg">
            </a>

            <a class="title_container_cell" href="#park">
                <div class="title_container_text"> Парк маяковского </div>
                <img class="title_container_img"
                     alt="Что-то сломалось"
                     src="../static/img/about_pages/places_page/places_block4.jpg">
            </a>

            <a class="title_container_cell" href="#sevast">
                <div class="title_container_text"> Дом севастьянова </div>
                <img class="title_container_img"
                     alt="Что-то сломалось"
                     src="../static/img/about_pages/places_page/places_block5.jpg">
            </a>

            <a class="title_container_cell" href="#circus">
                <div class="title_container_text"> Цирк </div>
                <img class="title_container_img"
                     alt="Что-то сломалось"
                     src="../static/img/about_pages/places_page/places_block6.jpg">
            </a>

            <a class="title_container_cell" href="#centr">
                <div class="title_container_text"> Ельцин центр </div>
                <img class="title_container_img"
                     alt="Что-то сломалось"
                     src="../static/img/about_pages/places_page/places_block8.jpg">
            </a>

            <a class="title_container_cell" href="#ganina">
                <div class="title_container_text"> Ганина яма </div>
                <img class="title_container_img"
                     alt="Что-то сломалось"
                     src="../static/img/about_pages/places_page/places_block9.jpg">
            </a>

        </div>

    </div>

    <div class="about_block">
        <a id="keyboard"></a>
        <div class="about_block_title">
            Памятник клавиатуре
        </div>

        <div class="about_block_content">
            <div class="about_block_picture">
                <img class="about_block_img"
                     src="../static/img/about_pages/places_page/places_block1.jpg"
                     alt="Что-то сломалось...">
            </div>

            <div class="about_block_text">
                Памятник клавиатуре это скульптура, посвящённая компьютерной клавиатуре. Несмотря на высокую
                популярность у горожан и гостей города, проект так и не обрёл официального статуса памятника
                или достопримечательности. Фактически не признанная местными властями как культурно значимый
                объект клавиатура тем не менее вошла во многие неофициальные путеводители по Екатеринбургу.
                Однако именно с неё весной 2011 года началось рисование на асфальте «Красной линии», проходящей через 32
                главных достопримечательности центра города. <br>
                Памятник представляет собой копию клавиатуры из бетона в масштабе 30:1. Состоит из 104 клавиш весом от
                100 до 500 кг, расположенных в раскладке QWERTY.
            </div>
        </div>
        <div class="about_block_return">
            <a  class="ret_link" href="#top"> К навигации </a>
        </div>

    </div>

    <div class="about_block">
        <a id="church"></a>
        <div class="about_block_title">
            Храм на Крови
        </div>

        <div class="about_block_content">
            <div class="about_block_picture">
                <img class="about_block_img"
                     src="../static/img/about_pages/places_page/places_block2.jpg"
                     alt="Что-то сломалось...">
            </div>

            <div class="about_block_text">
                Храм на Крови - это православный храм в Екатеринбурге, построенный на месте дома Ипатьева,
                в котором содержались под арестом и были расстреляны в ночь на 17 июля 1918 года последний российский
                император Николай II, его семья и четверо слуг. Построенный в 2000 - 2003 годах,
                он стал главной туристической достопримечательностью Екатеринбурга,
                а также главным центром памяти святого Николая II и его семьи, привлекающим православных паломников
                не только из России, но и со всего мира. <br>
                Храм расположен на западном склоне Вознесенской горки, между улицами Карла Либкнехта и Царской,
                с перепадом рельефа в 7,5 метров, что предопределило террасное решение всего сооружения.
            </div>
        </div>

        <div class="about_block_return">
            <a class="ret_link" href="#top"> К навигации </a>
        </div>

    </div>

    <div class="about_block">
        <a id="zoo"></a>
        <div class="about_block_title">
            Зоопарк
        </div>

        <div class="about_block_content">
            <div class="about_block_picture">
                <img class="about_block_img"
                     src="../static/img/about_pages/places_page/places_block3.jpg"
                     alt="Что-то сломалось...">
            </div>

            <div class="about_block_text">
                В настоящее время в зоопарке более 1000 животных, которые относятся к более чем 350 видам.
                Есть павильоны для птиц и экзотических млекопитающих, обезьян, теплолюбивых хищников и слона;
                вольеры для хищников северных и умеренных широт, хищных птиц, медведей, комплекс для амурских тигров.
                <br><br>
                Зоопарк занимает территорию площадью 2,7 га. На территории зоопарка работает кафе, действуют детские
                аттракционы. Зоопарк проводит праздники, выставки, конкурсы. Учащиеся школ на уроках, проводимых в
                зоопарке, могут получить дополнительные знания по зоологии и экологии.
            </div>
        </div>

        <div class="about_block_return">
            <a class="ret_link" href="#top"> К навигации </a>
        </div>

    </div>

    <div class="about_block">
        <a id="park"></a>
        <div class="about_block_title">
            Парк Маяковского
        </div>

        <div class="about_block_content">
            <div class="about_block_picture">
                <img class="about_block_img"
                     src="../static/img/about_pages/places_page/places_block4.jpg"
                     alt="Что-то сломалось...">
            </div>

            <div class="about_block_text">
                Центральный парк культуры и отдыха имени В. В. Маяковского - главный парк Екатеринбурга,
                место отдыха горожан, где проводятся главные мероприятия, связанные с народными гуляниями,
                а также различные концерты на открытой площадке. <br>
                В мае 1933 года на месте бывших купеческих дач, в излучине Исети, где в бывшей Мещанской роще
                ещё в XIX веке традиционно устраивались народные гулянья, был основан Свердловский Центральный
                парк культуры и отдыха. Парк получил имя В. В. Маяковского в честь 40-летия поэта и пятилетия
                посещения им Свердловска. <br>
                2001 году площадь территории парка составляла 130 гектар, действовало 37 аттракционов, зал игровых
                автоматов, комната смеха, обзорное колесо, эстрадный театр на 2200 мест, а также зимний клуб.
                Количество посетителей в год в этот период достигало 4,5 млн.
            </div>
        </div>
        <div class="about_block_return">
            <a  class="ret_link" href="#top"> К навигации </a>
        </div>

    </div>

    <div class="about_block">
        <a id="sevast"></a>
        <div class="about_block_title">
            Дом севастьянова
        </div>

        <div class="about_block_content">
            <div class="about_block_picture">
                <img class="about_block_img"
                     src="../static/img/about_pages/places_page/places_block5.jpg"
                     alt="Что-то сломалось...">
            </div>

            <div class="about_block_text">
                Дом Севастьянова - исторический и архитектурный памятник,
                расположенный в Екатеринбурге. Назван в честь одного из владельцев здания Н. И. Севастьянова.
                <br><br>
                Здание на этом участке впервые упоминается в 1817 году в архиве о строительстве углового каменного
                дома для маркшейдера И. Полкова. На фиксационном плане города 1829 года уже показана
                угловая ротонда. Сменив несколько владельцев, здание в 1860 году переходит к коллежскому асессору
                Николаю Ивановичу Севастьянову, купившему его у отставного канцелярского служителя С. А. Медведчикова.
                В 1866 году по проекту губернского секретаря А. И. Падучева дом был перестроен.
            </div>
        </div>

        <div class="about_block_return">
            <a class="ret_link" href="#top"> К навигации </a>
        </div>

    </div>

    <div class="about_block">
        <a id="circus"></a>
        <div class="about_block_title">
            Цирк
        </div>

        <div class="about_block_content">
            <div class="about_block_picture">
                <img class="about_block_img"
                     src="../static/img/about_pages/places_page/places_block6.jpg"
                     alt="Что-то сломалось...">
            </div>

            <div class="about_block_text">
                Первый стационарный цирк Екатеринбурга открылся 20 ноября 1883 года на Дровяной площади.
                Цирк представлял собой небольшое деревянное строение, с коническими натяжными куполами,
                которое могло вместить до 900 зрителей. В дальнейшем цирк переносили с места на место.
                <br><br>
                Современное здание цирка было построено в городе Свердловске на правом берегу реки Исети,
                на пересечении улиц 8 Марта и Куйбышева. Цирк рассчитан на 2558 мест,
                в нём — два манежа (основной и репетиционный).
                Здание цирка достаточно нетипичное и удивляет своей архитектурой, а его купол и вовсе стал одной из
                достопримечательностей Екатеринбурга.
            </div>
        </div>
        <div class="about_block_return">
            <a  class="ret_link" href="#top"> К навигации </a>
        </div>


    </div>

    <div class="about_block">
        <a id="centr"></a>
        <div class="about_block_title">
            Ельцин Центр
        </div>

        <div class="about_block_content">
            <div class="about_block_picture">
                <img class="about_block_img"
                     src="../static/img/about_pages/places_page/places_block8.jpg"
                     alt="Что-то сломалось...">
            </div>

            <div class="about_block_text">
                Президентский центр Б. Н. Ельцина, или Ельцин Центр, — общественный, культурный и
                образовательный центр, открытый в Екатеринбурге в 2015 году под эгидой одноимённого фонда рядом
                с кварталом Екатеринбург-Сити. Назван в честь первого президента России Б. Н. Ельцина. <br>
                Одним из основных объектов центра является Музей Бориса Ельцина, посвящённый современной
                политической истории России и личности Ельцина. Также в центре функционируют артгалерея,
                киноконференцзал, книжный магазин, кафе, архив, библиотека, парк научных развлечений, коворкинг
                и прочие организации. На площадках центра регулярно проводятся лекции, концерты, выставки, фестивали
                и различные общественные мероприятия. В кинозале ведёт работу центр документального кино.
            </div>
        </div>

        <div class="about_block_return">
            <a  class="ret_link" href="#top"> К навигации </a>
        </div>

    </div>

    <div class="about_block">
        <a id="ganina"></a>
        <div class="about_block_title">
            Ганина Яма
        </div>

        <div class="about_block_content">
            <div class="about_block_picture">
                <img class="about_block_img"
                     src="../static/img/about_pages/places_page/places_block9.jpg"
                     alt="Что-то сломалось...">
            </div>

            <div class="about_block_text">
                Ганина Яма - общепринятое название заброшенного Исетского рудника,
                расположенного в поросшем берёзовым и сосновым лесом урочище Четыре брата на территории городского
                округа Среднеуральск Свердловской области.<br>
                Считается, что здесь в ночь на 17 июля 1918 года были сброшены в шахту тела семерых членов царской
                семьи и четырех их слуг. Сейчас на этом месте находится Монастырь Святых Царственных Страстотерпцев.<br>
                В середине XIX века этот участок земли купил подрядчик по имени Гавриил в надежде отыскать здесь золото.
                Жители деревни Коптяки называли владельца рудника Ганей. Отсюда и пошло название самой большой разработки
                рудника — Ганиной Ямы. 28 декабря 2000 года здесь был учрежден мужской монастырь
                Святых Царственных Страстотерпцев.
            </div>
        </div>

        <div class="about_block_return">
            <a  class="ret_link" href="#top"> К навигации </a>
        </div>
    </div>


</div>

<footer>
    <div class="footer_contacts">
        <p class="footer_head_text"> contacts: </p>
        <p class="footer_text"> mail:&nbsp; <span class="footer_link"> mrdesper.mi@gmail.com </span> </p>
        <p class="footer_text"> telegram:&nbsp; <span class="footer_link"> @sayfdor </span> </p>
    </div>
</footer>

</body>
</html>