body {
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    background: #0A0C15;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed ;
    top: 0;
    z-index: 100;

    width: 100%;
    height: 8vh;

    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(15px);
}

/*NAVIGATION*/

.nav_logo, .nav_links {
    margin: 0 2rem;
}

.nav_logo {
    font-size: 1.5rem;
}

.nav_links {
    display: flex;
    font-size: 1.3rem;
}

.nav_link {
    position: relative;

    margin: 0 .5rem;

    text-decoration: none;
    color: #ffffff;

    transition: opacity .2s linear;
}

.nav_link:hover {
    opacity: .5;
}

/*ABOUT_PART*/

.about_img {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 40vh;

    background: url("../img/about_pages/history_page/history_page_title.png") no-repeat;
    background-size: cover;
}

.about_img:before {
    content: '';
    display: block;
    width: 100%;
    height: 40vh;
    z-index: 90;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .8);
}

.about_title {
    margin: auto;
    z-index: 91;

    text-transform: uppercase;;
    font-size: 4.5rem;
    font-weight: bold;
}

.about_main_part {
    display: flex;

    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;

    background: #0A0C15;

    padding-top: 7vh;
}

.about_subblock_text {
    height: 100%;
    width: 78%;

    font-size: 1.5rem;
    font-weight: 300;

    font-family: 'Roboto', sans-serif;
}

.about_block {
    display: flex;

    flex-direction: row;
    justify-content: space-between;

    height: auto;
    width: 70%;

    margin-bottom: 7vh;
}

.about_subblock_imgblock {
    display: flex;

    flex-direction: column;

    height: 100%;
    width: 20%;
}

.about_subblock_img {
    height: 80%;
    width: 100%;
}

.about_picture {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.about_subblock_caption {
    height: 20%;
    width: 100%;

    text-transform: uppercase;
    font-size: 3rem;
    font-family: Ubuntu, sans-serif;
}

/*FOOTER*/

footer {
    background: #0A0C15;

    width: 100%;
}

.footer_contacts {
    border-top: solid 0.02vh rgba(256, 256, 256, 0.2);

    padding: 1rem 2rem;

    margin: auto;
}

.footer_head_text {
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: .4rem;
}

.footer_text {
    margin-top: 0;
    margin-bottom: .2rem;
}

.footer_link {
    font-family: 'Roboto Mono', monospace;
}

@media (max-width: 1000px) {
    .nav_logo {
        font-size: 1.2rem;
    }

    .nav_links {
        font-size: 1rem;
    }

    .about_title {
        font-size: 3rem;
    }

    .about_subblock_caption {
        font-size: 2.5rem;
    }
}

@media (max-width: 680px) {
    header {
        flex-direction: column;
        justify-content: space-around;
    }

    .nav_logo {
        font-size: 1rem;
    }

    .nav_links {
        font-size: .9rem;
    }

    .about_title {
        font-size: 2.5rem;
    }

    .about_subblock_caption {
        font-size: 2rem;
    }
}