body {
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    background: #0A0C15;
    margin: 0;
}


/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed ;
    top: 0;
    z-index: 100;

    width: 100%;
    height: 8vh;

    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(15px);
}

.nav_logo, .nav_links {
    margin: 0 2rem;
}

.nav_logo {
    font-size: 1.5rem;
}

.nav_links {
    display: flex;
    font-size: 1.3rem;
}

.nav_link, .ret_link {
    position: relative;

    margin: 0 .5rem;

    text-decoration: none;
    color: #ffffff;

    transition: opacity .2s linear;
}

.ret_link {
    text-decoration: underline;
}

.nav_link:hover, .ret_link:hover {
    opacity: .5;
}


/*ABOUT NAVIGATION*/

.about_img {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 40vh;

    background: url("../img/about_pages/places_page/places_title.png") no-repeat;
    background-size: cover;
}

.about_img:before {
    content: '';
    display: block;
    width: 100%;
    height: 40vh;
    z-index: 90;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .8);
}

.about_title {
    margin: auto;
    z-index: 91;

    text-transform: uppercase;;
    font-size: 4.5rem;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 33vh);
    grid-gap: 10vh;

    padding: 10vh;

    width: fit-content;

    margin: auto;
}

.title_container_cell {
    display: flex;

    position: relative;

    width: 33vh;
    height: 33vh;

    overflow: hidden;

    justify-content: center;
    align-items: center;

    text-transform: none;

    background: rgba(0, 0, 0, 0.1);
}

.title_container_text {
    position: absolute;

    font-size: 2rem;
    text-transform: uppercase;

    text-align: center;

    color: white;

    opacity: 0;
}

.title_container_img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    opacity: 1;

    transition: scale .2s linear;
}

.title_container_cell .title_container_img {
    transition: transform .2s linear,
    opacity .2s linear;
}

.title_container_cell:hover .title_container_img {
    transform: scale(1.2);
    opacity: .2;
}

.title_container_cell .title_container_text {
    transition: opacity .2s linear;
}

.title_container_cell:hover .title_container_text {
    opacity: 1;
}

.title_container_cell:visited, .title_container_cell:focus {
    color: #ffffff;
}


/*ABOUT BLOCK*/

.about_block {
    width: 100%;
    height: auto;

    border-top: solid .1vh rgba(256, 256, 256, 0.2);

    padding: 5vh;
}

.about_block_title {
    margin: 0 auto 5vh;

    width: 81%;

    text-transform: uppercase;
    font-size: 2rem;
    font-family: Ubuntu, sans-serif;
}

.about_block_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 81%;

    margin: 0 auto;
}

.about_block_picture {
    width: 33vh;
    height: 33vh;
}

.about_block_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about_block_text {
    width: 78%;

    font-size: 1.5rem;
    font-weight: 200;

    font-family: 'Roboto', sans-serif;
}

.about_block_return {
    width: 82%;

    margin: auto;

    padding-top: 1rem;
}

/*FOOTER*/

footer {
    background: #0A0C15;

    width: 100%;
}

.footer_contacts {
    border-top: solid .1vh rgba(256, 256, 256, 0.2);

    padding: 1rem 2rem;

    margin: auto;
}

.footer_head_text {
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: .4rem;
}

.footer_text {
    margin-top: 0;
    margin-bottom: .2rem;
}

.footer_link {
    font-family: 'Roboto Mono', monospace;
}

@media (max-width: 1000px) {

    .intro_title_container {
        height: 60vh;
    }

    .intro_title_container:before {
        height: 60vh;
    }

    .intro_title {
        margin: auto;
        z-index: 91;

        text-transform: uppercase;;
        font-size: 3rem;
        font-weight: bold;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 50vh);
        grid-gap: 5vh;

        padding: 5vh;

        width: fit-content;

        margin: auto;
    }

    .title_container_cell {
        display: flex;

        position: relative;

        width: 50vh;
        height: 33vh;

        overflow: hidden;

        justify-content: center;
        align-items: center;

        text-transform: none;

        background: rgba(0, 0, 0, 0.1);
    }

}

@media (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(2, 33vh);
    }

    .title_container_cell {
        width: 33vh;
        height: 33vh;
    }
}

@media (max-width: 680px) {

    header {
        flex-direction: column;
        justify-content: space-around;
    }

    .nav_logo {
        font-size: 1.3rem;
    }

    .nav_links {
        display: flex;
        font-size: 1rem;
    }

    .intro_title_container {
        height: 35vh;
    }

    .intro_title_container:before {
        height: 35vh;
    }

    .intro_title {
        margin: auto;
        z-index: 91;

        text-transform: uppercase;;
        font-size: 2.5rem;
        font-weight: bold;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 50vh);
        grid-gap: 5vh;

        padding: 5vh;

        width: fit-content;

        margin: auto;
    }

    .title_container_cell {
        display: flex;

        position: relative;

        width: 50vh;
        height: 33vh;

        overflow: hidden;

        justify-content: center;
        align-items: center;

        text-transform: none;

        background: rgba(0, 0, 0, 0.1);
    }

}