<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/pages_style.css">

    <!--<base target="_blank">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>CourseWork: Yekaterinburg</title>
</head>
<body>
<header>
    <div class="nav_logo">
        CourseWork: Yekaterinburg: History
    </div>
    <div class="nav_links">
        <a class="nav_link" href="index.html"> На главную </a>
        <a class="nav_link" href="about_project.html"> О проекте </a>
    </div>
</header>

<div class="container">
    <div class="about_img">
        <div class="about_title">
            История города
        </div>
    </div>

     <div class="about_main_part">

         <!--left-->
        <div class="about_block">
            <div class="about_subblock_imgblock">
                <div class="about_subblock_img">
                    <img class="about_picture"
                         src="../static/img/about_pages/history_page/history_page_1block.jpg"
                         alt="Что-то сломалось...">
                </div>
                <div class="about_subblock_caption">
                    XVIII
                </div>
            </div>
            <div class="about_subblock_text">
                Город Екатеринбург был основан 18 ноября 1723 года как
                железнодательный завод-крепость.
                Место для возведения города было выбрано Василием Татищева,
                а строительство строительство крупнейшего в Европе железнодательного завода было завершено
                под руководством Вильгельма де Геннина. <br>
                Свое имя он получил в честь Екатерины I. <br>
                В 1781 году Екатерина II даровала Екатеринбургу статус уездного города Пермской губернии.
            </div>
        </div>

         <!--right-->
         <div class="about_block">

             <div class="about_subblock_text">
                 1807 году Екатеринбург получил статус горного города. С 1876 года в Екатеринубрге был
                 закрыто производство медных плат (в дальнейшем и монет), которое поставляло до 80%
                 всех медных монет России.
                 В 1878 году была построена первая железная дорога на Урале - Екатеринбург-Пермь.
                 В последующие десятилетия Екатеринбург стал крупным железнодорожным узлом:
                 направления Екатеринбург–Тюмень–Омск и
                 Екатеринбург–Челябинск давали выход на Сибирскую железную дорогу.
             </div>


             <div class="about_subblock_imgblock">
                 <div class="about_subblock_img">
                     <img class="about_picture"
                          src="../static/img/about_pages/history_page/history_page_2block.png"
                          alt="Что-то сломалось...">
                 </div>
                 <div class="about_subblock_caption">
                     XIX
                 </div>
             </div>
         </div>

         <!--left-->
         <div class="about_block">
             <div class="about_subblock_imgblock">
                 <div class="about_subblock_img">
                     <img class="about_picture"
                          src="../static/img/about_pages/history_page/history_page_3block.jpg"
                          alt="Что-то сломалось...">
                 </div>
                 <div class="about_subblock_caption">
                     XX
                 </div>
             </div>
             <div class="about_subblock_text">
                 В начале XX века Екатеринбург был одним из центров начала революционного движения на Урале.
                 Именно здесь в ночь с 16 на 17 июля 1918 года были расстреляны члены семьи российского императоры Николая II.
                 В 1923 году Екатеринбург стал столицей Уральской области, которая, на тот момент, включала в себя сегодняшние
                 Курганскую, Челябинскую, Пермскую, Тюменскую и Свердловскую области. В 1924 году город был переименован в Свердловск,
                 а 17 января 1934 года из Уральской области была выделена Свердловская область.
             </div>
         </div>

         <!--right-->
         <div class="about_block">

             <div class="about_subblock_text">
                 На 2023 год Екатеринубрг является 4 по численности населения городом в России, административным центром
                 Уральского федерального округа и Свердловской области, крупнейшим экономическим, административным,
                 культурным и научно-образовательным центром Урала. Екатеринубрг славится своей конструктивистской
                 архитектурой и известными во всем мире музыкантами Свердловского рок-клуба.
                 В 2023 году Екатеринубрг отметил свое 300-летие.
             </div>


             <div class="about_subblock_imgblock">
                 <div class="about_subblock_img">
                     <img class="about_picture"
                          src="../static/img/about_pages/history_page/history_page_4block.jpg"
                          alt="Что-то сломалось...">
                 </div>
                 <div class="about_subblock_caption">
                     XXI
                 </div>
             </div>
         </div>

     </div>
</div>

<footer>
    <div class="footer_contacts">
        <p class="footer_head_text"> Контакты: </p>
        <p class="footer_text"> mail:&nbsp; <span class="footer_link"> mrdesper.mi@gmail.com </span> </p>
        <p class="footer_text"> telegram:&nbsp; <span class="footer_link"> @sayfdor </span> </p>
    </div>
</footer>
</body>
</html>