<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/index_style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

    <title>CourseWork: Yekaterinburg</title>
</head>

<body>

    <header>
        <div class="nav_logo">
            CourseWork: Yekaterinburg
        </div>
        <div class="nav_links">
            <a class="nav_link" href="about_project.html"> О проекте </a>
        </div>
    </header>

    <div class="intro_title_container">
        <div class="intro_title">
            Екатеринбург:<br>сердце Урала
        </div>
    </div>

    <section class="title_section">

        <div class="grid">

            <a class="title_container_cell" href="history.html">
                <div class="title_container_text"> История </div>
                <img class="title_container_img"
                     alt="Что-то сломалось"
                     src="../static/img/index_img/title_links/history_title.jpg">
            </a>

            <a class="title_container_cell" href="places.html">
                <div class="title_container_text"> Места </div>
                <img class="title_container_img"
                     alt="Что-то сломалось"
                     src="../static/img/index_img/title_links/attractions_title.jpg">
            </a>

            <a class="title_container_cell" href="districts.html">
                <div class="title_container_text"> Районы </div>
                <img class="title_container_img"
                     alt="Что-то сломалось"
                     src="../static/img/index_img/title_links/districs_title.jpeg">
            </a>

            <a class="title_container_cell" href="nature.html">
                <div class="title_container_text"> Природа </div>
                <img class="title_container_img"
                     alt="Что-то сломалось"
                     src="../static/img/index_img/title_links/nature_title.jpg">
            </a>

            <a class="title_container_cell" href="incidents.html">
                <div class="title_container_text"> Инциденты </div>
                <img class="title_container_img"
                     alt="Что-то сломалось"
                     src="../static/img/index_img/title_links/incidents_title.jpg">
            </a>

            <a class="title_container_cell" href="people.html">
                <div class="title_container_text"> Люди </div>
                <img class="title_container_img"
                     alt="Что-то сломалось"
                     src="../static/img/index_img/title_links/famous_people_title.jpg">
            </a>

        </div>

    </section>

    <footer>
        <div class="footer_contacts">
            <p class="footer_head_text"> Контакты: </p>
            <p class="footer_text"> mail:&nbsp; <span class="footer_link"> mrdesper.mi@gmail.com </span> </p>
            <p class="footer_text"> telegram:&nbsp; <span class="footer_link"> @sayfdor </span> </p>
        </div>
    </footer>

</body>
</html>