<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/pages_style.css">

    <title>CourseWork: Yekaterinburg</title>
</head>
<body>

<header>
    <div class="nav_logo">
        CourseWork: Yekaterinburg: History
    </div>
    <div class="nav_links">
        <a class="nav_link" href="index.html"> На главную </a>
        <a class="nav_link" href="about_project.html"> О проекте </a>
    </div>
</header>



<footer>
    <div class="footer_contacts">
        <p class="footer_head_text"> Контакты: </p>
        <p class="footer_text"> mail:&nbsp; <span class="footer_link"> mrdesper.mi@gmail.com </span> </p>
        <p class="footer_text"> telegram:&nbsp; <span class="footer_link"> @sayfdor </span> </p>
    </div>
</footer>

</body>
</html>